$action-blue: #0064ff;
$my-white: #ffffff;
$disable-gray: #e5e5e5;
$light-gray: #fafafa;

body{
  font-family: "Open Sans", sans-serif;
}

.btn{
  padding: 12px 18px;
  font-size: 14px;
  background-color: $my-white;
  border: 1px solid$action-blue;
  color: $action-blue;
}

.actionbtn{
  @extend .btn;
  border: none;
  color: $my-white;
  background-color: $action-blue;
}

.disable{
  @extend .btn;
  border: none;
  color: $my-white;
  background-color: $disable-gray;
}

.link{
  text-decoration: none;
  color: $action-blue;
}

.container{
  padding: 20px;
  border: 1px solid $disable-gray;
  border-radius: 4px;

}#home{


 }











